@page
@model Soft.Pages.Students.StudentsPage
@using TeamUP.Pages.Extensions;

@{
    Layout = "_Create";
}
<body>    
    @Html.MyEditorFor(m => m.Student.StudentId)
    <partial name = "_EditStudent" />
</body>



