@page
@model Soft.Pages.Students.StudentsPage
@using TeamUP.Pages.Extensions;

@{
    Layout = "_Create";
}
<body>    
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name= "_EditStudent" />
</body>



