@page
@model Soft.Pages.Students.StudentsPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Student.StudentId">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>
