@page
@model Soft.Pages.Students.StudentsPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <<partial name="_DetailsStudent" />
</div>
<div>
    <a asp-page="./Edit" asp-page-handler="Edit" asp-route-id="@Model.Student.StudentId">Edit</a> |
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>
