@page
@using TeamUP.Pages.Extensions
@model Soft.Pages.TeamWorks.TeamWorksPage

@{
    Layout = "_Create";
}

<body>
    @Html.MyEditorFor(m => m.TeamWork.TeamWorkId)
    <partial name = "_EditTeamWork" />
</body>
    
    
