@page
@model Soft.Pages.TeamWorks.TeamWorksPage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeamWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler = "Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamWork.TeamWorkId" class="control-label"></label>
                <input asp-for="TeamWork.TeamWorkId" class="form-control" />
                <span asp-validation-for="TeamWork.TeamWorkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWork.Name" class="control-label"></label>
                <input asp-for="TeamWork.Name" class="form-control" />
                <span asp-validation-for="TeamWork.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWork.Description" class="control-label"></label>
                <input asp-for="TeamWork.Description" class="form-control" />
                <span asp-validation-for="TeamWork.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWork.TeamSize" class="control-label"></label>
                <input asp-for="TeamWork.TeamSize" class="form-control" />
                <span asp-validation-for="TeamWork.TeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWork.Deadline" class="control-label"></label>
                <input asp-for="TeamWork.Deadline" class="form-control" />
                <span asp-validation-for="TeamWork.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWork.Done" class="control-label"></label>
                <input asp-for="TeamWork.Done" class="form-control" />
                <span asp-validation-for="TeamWork.Done" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-page-handler = "Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
