@page
@using TeamUP.Pages.Extensions
@model Soft.Pages.TeamWorks.TeamWorksPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_DetailsTeamWork" />
</div>
<div>
    <a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@Model.TeamWork.TeamWorkId">Edit</a> |
    <a asp-page="./Index" asp-page-handler = "Index">Back to List</a>
</div>
