@page
@model Soft.Pages.TeamWorks.TeamWorksPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeamWork</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamWork.Overview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamWork.Overview)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@Model.TeamWork.TeamWorkId">Edit</a> |
    <a asp-page="./Index" asp-page-handler = "Index">Back to List</a>
</div>
