@page
@model TeamUP.Pages.Party.TeamWorksPage
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using TeamUP.Pages
@using TeamUP.Pages.Extensions
@{
    Layout = "_Index";
}
<body> @Html.ShowTable(Model.Items)</body>