

@{
    ViewData["Title"] = "Edit";
    ViewData["SubTitle"] = Model?.GetType()?.Name?.Replace("Page", string.Empty) ?? "Unspecified";  
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<h4>@ViewData["SubTitle"]</h4>
<hr />
<form method="post" asp-page-handler="Edit">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
  @RenderBody()

  <div class="form-group">
     <input type="submit" value="Save" class="btn btn-primary" />
  </div>
</form>

<div>
    <a asp-page="./Index" asp-page-handler="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}