@page
@model TeamUP.Pages.Party.TeamWorkStudentPage
@using TeamUP.Pages.Extensions

@{
    Layout = "_Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name = "_EditTeamWorkStudent" />
</body>
    
    
