@page
@model TeamUP.Pages.Party.TeamWorkStudentPage


@{
    Layout = "_Edit";
}

<body>
   <input type="hidden" asp-for="Item.Id" />
   <partial name = "_EditTeamWorkStudent" />
</body>
    
            
